body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f4cbcb, #d1e9fb);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    margin-left: 35%;
}

h1 {
    margin: 0;
    padding: 20px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-right: 55%;
}

input {
    width: 80%;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-left: 30px;
}

input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

button {
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    max-width: 50px;
    height: 27%;
    margin-top: 5px;
    margin-left: 0px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    /* background-color: #0056b3; */
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.mic::before,
.mic::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow: 0 0 20px 20px #1e3c72;
}

.mic::before {
    width: 40px;
    height: 40px;
    background-color: #1e3c72;
}

.mic::after {
    width: 250px;
    height: 250px;
    background-color: #2a5298;
    animation: circle-size 0.8s linear infinite alternate;
}

.mic-icon {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    display: block;
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 2px solid;
    border-top: 0;
    margin-top: 20px;
    z-index: 3;
}

 .mic-icon::before,
.mic-icon::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
}

.mic-icon::before {
    width: 2px;
    height: 5px;
    top: calc(100% + 1px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
}
.mic-icon::after {
    border: 2px solid;
    width: 8px;
    height: 18px;
    left: 50%;
    top: -10px;
    border-radius: 4px;
    transform: translate(-50%, 0);
}

/* @keyframes circle-size {
    from {
        width: 250px;
        height: 250px;
    }

    to {
        width: 300px;
        height: 300px;
    }
}

@keyframes shadow-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.animated:active {
   animation: pulse 1s infinite;
}  */

@media (max-width: 1056px) {
    body {
        padding: 20px;
    }
    #speech {
        width: 80%;
        margin: 20px auto;
    }
    .mic {
        margin-top: 50px;
    }
    .reco {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 555px) {
    #speech {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 385px) {
    #rem {
        word-wrap: break-word;
    }
    #speech {
        width: 95%;
        margin: 20px auto;
    }
}
